# Hybrid Impact
### A notebook to explore the impacts of switching to the hybrid engine

Pete Melgren - 2025

## Part 1: Results Analysis

Look at the results files for the 1 1/2 years beefore and after the switch to the hybird power unit to analyze the impact of the switch on final race results

#### Part 1 - A: Set up and vlaidation
Load and validate pre-and post-switch results datasets

In [1]:
import pandas as pd
import os
os.chdir('..')
from analytics import RaceData

In [17]:
pd.set_option('display.max_rows',10)
rd_oemaero = RaceData()
rd_oemaero.add_races_by_date('2015-01-01','2017-12-31',section_results=False) 
rd_oemaero.races

,Date,RaceID,Name,results_File,sectionresults_File
0,2015-03-31,3149,Firestone_Grand_Prix_Of_St._Petersburg,results_2015-03-31_3149_Firestone_Grand_Prix_O...,NaN
1,2015-04-12,3173,Indy_Grand_Prix_of_Louisiana,results_2015-04-12_3173_Indy_Grand_Prix_of_Lou...,NaN
2,2015-04-19,3192,Toyota_Grand_Prix_of_Long_Beach,results_2015-04-19_3192_Toyota_Grand_Prix_of_L...,NaN
3,2015-04-26,3205,Honda_Indy_Grand_Prix_of_Alabama,results_2015-04-26_3205_Honda_Indy_Grand_Prix_...,NaN
4,2015-05-09,3226,Angies_List_Grand_Prix_of_Indianapolis,results_2015-05-09_3226_Angies_List_Grand_Prix...,NaN
...,...,...,...,...,...
45,2017-07-30,3815,Honda Indy 200 at Mid-Ohio,results_2017-07-30_3815_Honda Indy 200 at Mid-...,sectionresults_2017-07-30_3815_Honda Indy 200 ...
46,2017-08-20,3838,ABC Supply 500,results_2017-08-20_3838_ABC Supply 500.pq,sectionresults_2017-08-20_3838_ABC Supply 500.pq
47,2017-08-27,3842,Bommarito Automotive Group 500,results_2017-08-27_3842_Bommarito Automotive G...,sectionresults_2017-08-27_3842_Bommarito Autom...
48,2017-09-03,3848,INDYCAR Grand Prix at The Glen,results_2017-09-03_3848_INDYCAR Grand Prix at ...,sectionresults_2017-09-03_3848_INDYCAR Grand P...
49,2017-09-17,3857,GoPro Grand Prix of Sonoma,results_2017-09-17_3857_GoPro Grand Prix of So...,sectionresults_2017-09-17_3857_GoPro Grand Pri...

In [18]:
rd_singleaero = RaceData()
rd_singleaero.add_races_by_date('2018-01-01','2019-12-31',section_results=False) 
rd_singleaero.races

,Date,RaceID,Name,results_File,sectionresults_File
0,2018-03-11,5230,Firestone Grand Prix of St. Petersburg,results_2018-03-11_5230_Firestone Grand Prix o...,sectionresults_2018-03-11_5230_Firestone Grand...
1,2018-04-07,5229,Desert Diamond West Valley Casino Phoenix Gran...,results_2018-04-07_5229_Desert Diamond West Va...,sectionresults_2018-04-07_5229_Desert Diamond ...
2,2018-04-15,5232,Toyota Grand Prix of Long Beach,results_2018-04-15_5232_Toyota Grand Prix of L...,sectionresults_2018-04-15_5232_Toyota Grand Pr...
3,2018-04-23,5231,Honda Indy Grand Prix of Alabama,results_2018-04-23_5231_Honda Indy Grand Prix ...,NaN
4,2018-05-12,5226,INDYCAR Grand Prix,results_2018-05-12_5226_INDYCAR Grand Prix.pq,sectionresults_2018-05-12_5226_INDYCAR Grand P...
...,...,...,...,...,...
29,2019-07-28,5466,Honda Indy 200 at Mid-Ohio,results_2019-07-28_5466_Honda Indy 200 at Mid-...,sectionresults_2019-07-28_5466_Honda Indy 200 ...
30,2019-08-18,5465,ABC Supply 500,results_2019-08-18_5465_ABC Supply 500.pq,sectionresults_2019-08-18_5465_ABC Supply 500.pq
31,2019-08-24,5464,Bommarito Automotive Group 500,results_2019-08-24_5464_Bommarito Automotive G...,sectionresults_2019-08-24_5464_Bommarito Autom...
32,2019-09-01,5470,Grand Prix of Portland,results_2019-09-01_5470_Grand Prix of Portland.pq,sectionresults_2019-09-01_5470_Grand Prix of P...
33,2019-09-22,5479,Firestone Grand Prix of Monterey,results_2019-09-22_5479_Firestone Grand Prix o...,sectionresults_2019-09-22_5479_Firestone Grand...

In [4]:
# bring in box score results for all races in 2023 and 2024 before the hybrid was launchedrd
rd_aeroscreen = RaceData()
rd_aeroscreen.add_races_by_date('2020-01-01','2024-07-01',section_results=False) 
rd_aeroscreen.races

,Date,RaceID,Name,results_File,sectionresults_File
0,2020-06-06,5733,Genesys 300,results_2020-06-06_5733_Genesys 300.pq,sectionresults_2020-06-06_5733_Genesys 300.pq
1,2020-07-04,5741,GMR Grand Prix,results_2020-07-04_5741_GMR Grand Prix.pq,sectionresults_2020-07-04_5741_GMR Grand Prix.pq
2,2020-07-11,5742,REV Group Grand Prix Race 1,results_2020-07-11_5742_REV Group Grand Prix R...,sectionresults_2020-07-11_5742_REV Group Grand...
3,2020-07-12,5748,REV Group Grand Prix Race 2,results_2020-07-12_5748_REV Group Grand Prix R...,sectionresults_2020-07-12_5748_REV Group Grand...
4,2020-07-17,5751,Iowa INDYCAR 250s Race 1,results_2020-07-17_5751_Iowa INDYCAR 250s Race...,sectionresults_2020-07-17_5751_Iowa INDYCAR 25...
...,...,...,...,...,...
68,2024-05-11,6301,Sonsio Grand Prix,results_2024-05-11_6301_Sonsio Grand Prix.pq,NaN
69,2024-05-28,6309,108th Running of the Indianapolis 500,results_2024-05-28_6309_108th Running of the I...,NaN
70,2024-06-02,6296,Chevrolet Detroit Grand Prix,results_2024-06-02_6296_Chevrolet Detroit Gran...,NaN
71,2024-06-09,6308,XPEL Grand Prix at Road America,results_2024-06-09_6308_XPEL Grand Prix at Roa...,NaN
72,2024-06-23,6311,Firestone Grand Prix of Monterey,results_2024-06-23_6311_Firestone Grand Prix o...,NaN

In [5]:
rd_hybrid = RaceData()
rd_hybrid.add_races_by_date('2024-07-01','2025-12-31',section_results=False)
rd_hybrid.races

,Date,RaceID,Name,results_File,sectionresults_File
0,2024-07-07,6303,Honda Indy 200 at Mid-Ohio,results_2024-07-07_6303_Honda Indy 200 at Mid-...,NaN
1,2024-07-13,6310,Hy-Vee Homefront 250,results_2024-07-13_6310_Hy-Vee Homefront 250.pq,NaN
2,2024-07-24,6306,Ontario Honda Dealers Indy Toronto,results_2024-07-24_6306_Ontario Honda Dealers ...,NaN
3,2024-08-19,6302,Bommarito Automotive Group 500,results_2024-08-19_6302_Bommarito Automotive G...,NaN
4,2024-08-25,6305,BITNILE.COM Grand Prix of Portland,results_2024-08-25_6305_BITNILE.COM Grand Prix...,NaN
5,2024-08-31,6299,Hy-Vee Milwaukee Mile 250 - Race 1,results_2024-08-31_6299_Hy-Vee Milwaukee Mile ...,NaN
6,2024-09-01,6313,Hy-Vee Milwaukee Mile 250 - Race 2,results_2024-09-01_6313_Hy-Vee Milwaukee Mile ...,NaN
7,2024-09-15,6304,Big Machine Music City Grand Prix,results_2024-09-15_6304_Big Machine Music City...,NaN
8,2024-10-09,6307,Hy-Vee One Step 250,results_2024-10-09_6307_Hy-Vee One Step 250.pq,NaN
9,2025-03-02,6472,Firestone Grand Prix of St. Petersburg,results_2025-03-02_6472_Firestone Grand Prix o...,NaN
10,2025-03-28,6463,The Thermal Club INDYCAR Grand Prix,results_2025-03-28_6463_The Thermal Club INDYC...,NaN
11,2025-04-13,6457,Acura Grand Prix of Long Beach,results_2025-04-13_6457_Acura Grand Prix of Lo...,NaN
12,2025-05-04,6458,Children's of Alabama Indy Grand Prix,results_2025-05-04_6458_Children's of Alabama ...,NaN
13,2025-05-10,6459,Sonsio Grand Prix,results_2025-05-10_6459_Sonsio Grand Prix.pq,NaN
14,2025-05-26,6460,109th Running of the Indianapolis 500,results_2025-05-26_6460_109th Running of the I...,NaN
15,2025-06-02,6461,Chevrolet Detroit Grand Prix,results_2025-06-02_6461_Chevrolet Detroit Gran...,NaN
16,2025-06-16,6462,Bommarito Automotive Group 500,results_2025-06-16_6462_Bommarito Automotive G...,NaN
17,2025-06-22,6464,XPEL Grand Prix at Road America,results_2025-06-22_6464_XPEL Grand Prix at Roa...,NaN
18,2025-07-08,6471,Honda Indy 200 at Mid-Ohio,results_2025-07-08_6471_Honda Indy 200 at Mid-...,NaN
19,2025-07-12,6465,Synk 275,results_2025-07-12_6465_Synk 275.pq,NaN
20,2025-07-13,6466,Farm to Finish 275,results_2025-07-13_6466_Farm to Finish 275.pq,NaN

In [19]:
aeroscreen = rd_aeroscreen.results_df.copy()
aeroscreen.sample(5)

,Pos,SP,Driver,C/E/T,Lap,Laps Down,Time Down,Pit Stops,Elapsed Time,Avg Speed,Running / Reason Out,Pts,Total Pts,Standings,RaceID
73,1,7,10,D/H/F,55,0,--.----,3,01:51:22.0391,118.942,Running,51,88,9,5748
1687,12,8,30,D/H/F,0,20,-,0,00:00:00.6598,0.000,Disqualified,NaN,NaN,NaN,6345
677,3,3,9,D/H/F,110,0,4.4406,3,02:07:08.5710,101.951,Running,36,428,4,5805
175,1,3,9,D/H/F,200,0,--.----,3,01:44:30.7944,143.522,Running,51,386,1,5780
778,22,18,29,D/H/F,100,0,1:02.8613,3,01:52:30.2079,95.997,Running,8,8,22,5921

In [20]:
# drop the Thermal $1 million challenge
oemaero = rd_oemaero.results_df.copy()
singleaero = rd_singleaero.results_df.copy()
aeroscreen = aeroscreen.loc[aeroscreen.RaceID != '6345'].copy()
hybrid = rd_hybrid.results_df.copy()
oemaero['Period'] = 'OEM Aero'
singleaero['Period'] = 'Single Aero'
aeroscreen['Period'] = 'Aeroscreen'
hybrid['Period'] = 'Hybrid'
oemaero.rename(columns = {'Running/Reason Out':'Running / Reason Out'},inplace=True)
df = pd.concat([oemaero,singleaero,aeroscreen,hybrid],ignore_index=True)
df.sample(5)

,Pos,SP,Car,Driver,C/E/T,Lap,Laps Down,Time Down,Pit Stops,Elapsed Time,Avg Speed,Pts,Running / Reason Out,RaceID,C/A/E/T,Period,Total Pts,Standings
994,17,20,27,"Andretti, Marco",NaN,298,2,-,6,01:55:29.3702,138.408,14,Running,3783,D/H/H/F,OEM Aero,NaN,NaN
2568,16,12,NaN,22,D/C/F,85,0,16.4169,3,01:49:54.4980,113.175,15,Running,5802,NaN,Aeroscreen,295,8
3389,3,14,NaN,26,D/H/F,85,0,15.0599,2,01:42:10.8600,89.142,35,Running,6131,NaN,Aeroscreen,239,9
3873,19,17,NaN,30,D/H/F,228,22,-,2,01:34:26.8875,129.488,11,Contact,6310,NaN,Hybrid,114,19
2615,11,8,NaN,18,D/H/F,110,0,18.1590,2,02:07:22.2894,101.768,20,Running,5805,NaN,Aeroscreen,195,19

In [8]:
pd.set_option('display.max_rows',150)
pd.concat([rd_oemaero.races,
           rd_singleaero.races,
           rd_aeroscreen.races,
           rd_hybrid.races]
         )[['RaceID','Date','Name']].merge(
    df.groupby(['RaceID','Period'])['Pos'].count().reset_index()
    ,on='RaceID')

    RaceID        Date                                    Name    Period  Pos
0     3149  2015-03-31  Firestone_Grand_Prix_Of_St._Petersburg  OEM Aero   24
1     3173  2015-04-12            Indy_Grand_Prix_of_Louisiana  OEM Aero   24
2     3192  2015-04-19         Toyota_Grand_Prix_of_Long_Beach  OEM Aero   23
3     3205  2015-04-26        Honda_Indy_Grand_Prix_of_Alabama  OEM Aero   23
4     3226  2015-05-09  Angies_List_Grand_Prix_of_Indianapolis  OEM Aero   25
..     ...         ...                                     ...       ...  ...
172   6462  2025-06-16          Bommarito Automotive Group 500    Hybrid   27
173   6464  2025-06-22         XPEL Grand Prix at Road America    Hybrid   27
174   6471  2025-07-08              Honda Indy 200 at Mid-Ohio    Hybrid   27
175   6465  2025-07-12                                Synk 275    Hybrid   27
176   6466  2025-07-13                      Farm to Finish 275    Hybrid   27

[177 rows x 5 columns]

In [9]:
# clean DFs
df = df.loc[df.Pos != '']
df['Pos'] = df.Pos.astype(int)
df['SP'] = df.SP.astype(int)

In [10]:
df['Finished'] = (df['Running / Reason Out']=='Running')
df['LeadLap'] = (df['Laps Down'] == '0')
df['PosMvmt'] = abs(df['SP'] - df['Pos'])
df.loc[
    df.Finished,
    'adjSP'
] = (
    df
    .loc[df.Finished]
    .groupby(['RaceID'])
    ['SP']
    .rank()
)
df['adjPosMvmt'] = abs(df['adjSP'] - df['Pos'])

df[['Laps Down','Running / Reason Out','Finished','LeadLap','PosMvmt','SP','Pos','adjSP']].sample(10)

,Laps Down,Running / Reason Out,Finished,LeadLap,PosMvmt,SP,Pos,adjSP
3750,0,Running,True,True,2,6,4,6.0
2717,0,Running,True,True,0,5,5,3.0
76,0,Running,True,True,16,22,6,22.0
1067,0,Running,True,True,6,11,5,8.0
3538,1,Running,True,False,7,22,15,19.0
3557,0,Running,True,True,7,13,6,13.0
4344,1,Running,True,False,4,20,24,18.0
3646,0,Running,True,True,8,22,14,17.0
3167,0,Running,True,True,5,9,4,7.0
4125,12,Retired,False,False,2,25,27,NaN

In [11]:
agg = df.groupby("Period").agg(
    N = ("Pos", "count"),
    NFinished = ("Finished", "sum"),
    NLeadLap = ("LeadLap", "sum"),
    AvgPosMvmt = ("PosMvmt", "mean"),
    AvgAdjPosMvmt = ("adjPosMvmt", "mean")
)
agg['Finished%'] = agg.NFinished/agg.N
agg['LeadLap%'] = agg.NLeadLap/agg.N
agg

,N,NFinished,NLeadLap,AvgPosMvmt,AvgAdjPosMvmt,Finished%,LeadLap%
Period,,,,,,,
Aeroscreen,1898,1621,1186,6.079031,4.809377,0.854057,0.624868
Hybrid,574,468,333,6.703833,4.974359,0.815331,0.580139
OEM Aero,1127,931,713,5.803017,4.417830,0.826087,0.632653
Single Aero,803,688,476,5.863014,4.372093,0.856787,0.592777

In [12]:
df.loc[df.Pos == 1].groupby('Period')[['SP','adjSP','PosMvmt','adjPosMvmt']].mean()

                   SP     adjSP   PosMvmt  adjPosMvmt
Period
Aeroscreen   5.541667  4.777778  4.541667    3.777778
Hybrid       4.714286  4.095238  3.714286    3.095238
OEM Aero     6.530612  5.428571  5.530612    4.428571
Single Aero  4.352941  3.852941  3.352941    2.852941

In [13]:
# look at gap to car in front
df['ElapsedSec'] = df['Elapsed Time'].apply(
    lambda x: int(x[0:2])*3600+int(x[3:5])*60+float(x[6:])
)
df['ElapsedSec-1'] = df.sort_values('Pos').groupby(['RaceID','Lap'])['ElapsedSec'].shift(-1)
df['Gap'] = df['ElapsedSec-1'] - df.ElapsedSec
df.loc[df.RaceID == '6140',['Pos','Lap','Elapsed Time','ElapsedSec','ElapsedSec-1','Gap']].sort_values('Pos')

      Pos Lap   Elapsed Time  ElapsedSec  ElapsedSec-1      Gap
3333    1  55  01:50:04.6640   6604.6640     6609.2250   4.5610
3334    2  55  01:50:09.2250   6609.2250     6611.4189   2.1939
3335    3  55  01:50:11.4189   6611.4189     6611.6358   0.2169
3336    4  55  01:50:11.6358   6611.6358     6615.5968   3.9610
3337    5  55  01:50:15.5968   6615.5968     6616.1848   0.5880
3338    6  55  01:50:16.1848   6616.1848     6620.5475   4.3627
3339    7  55  01:50:20.5475   6620.5475     6620.9462   0.3987
3340    8  55  01:50:20.9462   6620.9462     6622.2120   1.2658
3341    9  55  01:50:22.2120   6622.2120     6624.3011   2.0891
3342   10  55  01:50:24.3011   6624.3011     6626.1370   1.8359
3343   11  55  01:50:26.1370   6626.1370     6626.7694   0.6324
3344   12  55  01:50:26.7694   6626.7694     6630.3334   3.5640
3345   13  55  01:50:30.3334   6630.3334     6636.0932   5.7598
3346   14  55  01:50:36.0932   6636.0932     6638.2872   2.1940
3347   15  55  01:50:38.2872   6638.2872     6638.9640   0.6768
3348   16  55  01:50:38.9640   6638.9640     6647.1300   8.1660
3349   17  55  01:50:47.1300   6647.1300     6647.6175   0.4875
3350   18  55  01:50:47.6175   6647.6175     6649.4649   1.8474
3351   19  55  01:50:49.4649   6649.4649     6653.7537   4.2888
3352   20  55  01:50:53.7537   6653.7537     6656.6403   2.8866
3353   21  55  01:50:56.6403   6656.6403     6674.3294  17.6891
3354   22  55  01:51:14.3294   6674.3294     6688.3048  13.9754
3355   23  55  01:51:28.3048   6688.3048           NaN      NaN
3356   24  54  01:50:15.8405   6615.8405     6679.6456  63.8051
3357   25  54  01:51:19.6456   6679.6456     6690.3355  10.6899
3358   26  54  01:51:30.3355   6690.3355           NaN      NaN
3359   27  24  00:52:04.6252   3124.6252           NaN      NaN

In [14]:
df.loc[df.RaceID == '6130',['Pos','Lap','Elapsed Time','ElapsedSec','ElapsedSec-1','Gap']].sort_values('Pos')

      Pos  Lap   Elapsed Time  ElapsedSec  ElapsedSec-1      Gap
3414    1  250  01:33:40.4758   5620.4758     5623.8513   3.3755
3415    2  250  01:33:43.8513   5623.8513     5630.0830   6.2317
3416    3  250  01:33:50.0830   5630.0830     5635.1143   5.0313
3417    4  250  01:33:55.1143   5635.1143     5642.8783   7.7640
3418    5  250  01:34:02.8783   5642.8783           NaN      NaN
3419    6  249  01:33:41.6973   5621.6973     5622.1037   0.4064
3420    7  249  01:33:42.1037   5622.1037     5623.2405   1.1368
3421    8  249  01:33:43.2405   5623.2405     5627.8509   4.6104
3422    9  249  01:33:47.8509   5627.8509     5628.4553   0.6044
3423   10  249  01:33:48.4553   5628.4553     5639.2996  10.8443
3424   11  249  01:33:59.2996   5639.2996           NaN      NaN
3425   12  248  01:33:43.9826   5623.9826     5637.3421  13.3595
3426   13  248  01:33:57.3421   5637.3421     5642.5310   5.1889
3427   14  248  01:34:02.5310   5642.5310           NaN      NaN
3428   15  247  01:33:44.8365   5624.8365     5625.2735   0.4370
3429   16  247  01:33:45.2735   5625.2735     5636.2452  10.9717
3430   17  247  01:33:56.2452   5636.2452     5641.1361   4.8909
3431   18  247  01:34:01.1361   5641.1361           NaN      NaN
3432   19  246  01:33:47.1409   5627.1409     5628.4145   1.2736
3433   20  246  01:33:48.4145   5628.4145           NaN      NaN
3434   21  245  01:33:44.8998   5624.8998     5632.5236   7.6238
3435   22  245  01:33:52.5236   5632.5236           NaN      NaN
3436   23  244  01:33:43.2279   5623.2279           NaN      NaN
3437   24  243  01:33:44.7087   5624.7087           NaN      NaN
3438   25  242  01:33:49.5468   5629.5468           NaN      NaN
3439   26  241  01:33:51.4369   5631.4369           NaN      NaN
3440   27  235  01:33:41.2929   5621.2929           NaN      NaN
3441   28  149  00:54:39.6822   3279.6822           NaN      NaN

In [15]:
df['PosAtStake'] = df.Gap.apply(lambda x: 1 if x <3 else 0)*df.Finished
df['Pts'] = df.Pts.astype(int)
df['PtsAtStake'] = df.PosAtStake*df.Pts

agg2 = df.groupby("Period").agg(
    NRaces = ("RaceID", "nunique"),
    N = ("Pos","count"),
    NAtStake = ("PosAtStake", "sum"),
    AtStakePct = ("PosAtStake","mean"),
    TotalPoints = ("Pts", "sum"),
    PointsAtStake = ("PtsAtStake","sum"),
)
agg2['PointsAtStakePct'] = agg2.PointsAtStake/agg2.TotalPoints
agg2['PointsAtStakePerRace'] = agg2.PointsAtStake/agg2.NRaces
agg2

,NRaces,N,NAtStake,AtStakePct,TotalPoints,PointsAtStake,PointsAtStakePct,PointsAtStakePerRace
Period,,,,,,,,
Aeroscreen,72,1898,922,0.485774,38042,23561,0.619342,327.236111
Hybrid,21,574,277,0.482578,10707,6552,0.611936,312.000000
OEM Aero,49,1127,520,0.461402,27899,16075,0.576186,328.061224
Single Aero,34,803,348,0.433375,18668,10512,0.563103,309.176471